.Joanna {
    text-align: center;
    color: navy;
    }

.top {
    background-color: rgb(228, 172, 218);
    height:60px;
}

.navv {
    background-color:#a9a9aa;
    color:navy;

}


.indexBody {
    Width: 560px;
    /* height: 580px; */

    background-color: rgb(197, 223, 167);
}

.aboutMe {
    text-align: center;
    color: #800080;
    
}

.covid {
    width: 540px;
    margin:20px
    z-index: -1;
    /* position:relative; */
}

.textbox {
    width: 225px;
    height: 225px;
    float: right;
    position: relative;
    margin-top:200px;
    z-index:absolute;
}

.contactBody {
    background-color: rgb(167, 147, 187);
    width: 560px;
    
}